/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/


header {
	color:white;
}

header .navbar-left span {
	font-size: 20px;
	padding-top: 10px;
}

body {
	margin-top: 40px;
}

.actions {
	margin-top:10px;
}

.col-md-4 {
	padding-top: 30px;
	
}

img {
	border-radius: 300px;
	
}
.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-bottom: 20px;
  margin-left: 50px;
  text-decoration: none;
  color: #00BCD4;
  transition: .4s;
  border-radius: 20px;
}

.btn-flat-simple:hover {
  background: #67c5ff;
  color: white;
}

.btn-flat-dashed-filled {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-dashed-filled:hover {
  background: #cbedff;
  color: #FFF;
}

.btn-square-little-rich {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}


.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 20px;
  margin-left: 50px;
  background: #67c5ff;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-gradient-flat {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(#67c5ff 0%, #67c5ff 100%);
  transition: .4s;
  margin-bottom: 20px;
  margin-left: 50px;
  border-radius: 20px;
  font-weight: bold;
}

.btn-gradient-flat:hover {
  background-image: linear-gradient(#67c5ff 0%, #67ceff 70%);
}

.col-md-4 {
  margin-left: 50%;
}

.comment {
  padding-bottom: 20px;
  font-size: 20px;
}
